<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap / CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Mary Shelley</title>
  </head>
  <body>
    
    <div class="container">
      <!-- Header -->
      <div class="row my-5 align-items-center">
        <div class="col-md-8 col-sm-12">
          <h1 class="">Meu primeiro tema</h1>
          <p class="lead"> Fiz com o wordpress</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="o que procura?">
              <button class="btn btn-red-dark" type="button">Buscar</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Menu principal -->
      <div class="row mb-5">
        <div class="col">
          <nav class="navbar navbar-expand-lg navbar-dark bg-red-dark rounded">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Perfil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Projetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Novidades</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Planos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <!-- Conteúdo do site -->
      <div class="row">

        <!-- Corpo -->
        <div class="col-md-8 col-sm-12">

          <!-- Post -->
          <div class="blog-post mb-3">
            <h3 class="mb-3 pb-2 border-bottom"><a href="#" class=" text-decoration-none">Exemplo</a></h1>
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-3">
                  <a href="#">
                    <img src="/src/assets/img.jpg" class="img-fluid rounded">
                  </a>
                </div>
                <div class="col-lg-6 col-md-12">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusamus deserunt quos amet ipsam excepturi delectus dolor sit amet consectetur adipisicing elit. Dolorum accusamus deserunt quos amet ipsam excepturi delectus voluptatem voluptatibus, aut, earum voluptatem voluptatibus, aut, earum laudantium nihil? Dolorem facilis nemo tenetur iusto cupiditate pariatur ducimus!</p>
                  <p class="text-muted">
                    Publicado em: <span class="badge bg-red-dark">00/00/2022</span>
                  </p>
                </div>
              </div>
          </div>

          <!-- Paginação -->
          <!-- <div class="blog-pagination mb-5 col-12 d-flex">
            <a href="" class="btn btn-outline-dark col-6">Mais antigos</a>
            <a href="" class="btn btn-outline-dark col-6">Mais novos</a>
          </div> -->
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

        </div>

        <!-- Barra lateral -->
        <div class="col-md-4 col-sm-12">
          <div class="card mb-4">
            <h5 class="card-header">Categorias</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Projetos</a></li>
                <li><a href="">Novidades</a></li>
                <li><a href="">Planos</a></li>
              </ul>
            </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header">Ultimos posts</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Lorem ipsum dolor sit.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
              </ul>
            </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="w-100 bg-red-dark mt-5">
      <div class="container">
        <div class="row">
          <div class="col py-5 text-center text-white">
            <h5>Meu primeiro tema</h5>
            <p class="mb-0">Feito por mim</p>
          </div>
        </div>
      </div>
    </div>



    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>